<div class="tabs">
   <a routerLink="bookmarks" routerLinkActive="selected" class="tab bookmarks-Tab">
    <div class="tab-Title">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bookmarks"></mat-icon>
    </div>
   </a>
   <a  routerLink="check" routerLinkActive="selected" class="tab check-Tab">
    <div class="tab-Title">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="check"></mat-icon>
    </div>
   </a>
   <a routerLink="notes" routerLinkActive="selected" class="tab notes-Tab">
    <div class="tab-Title">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notes"></mat-icon>
    </div>
   </a>
</div>


